@font-face {
  font-family: "Gilroy Medium";
  src: url('/src/font/Gilroy-Medium.ttf');
  }

:root {
  font-family: 'Gilroy Medium'
}

body {
  font-family: 'Gilroy Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


code {
  font-family: 'Gilroy Medium'
}
