@font-face {
  font-family: "Gilroy Regular";
  src: url('/src/font/Gilroy-Regular.ttf');
  }

:root {
  font-family: 'Gilroy Regular'
}

body {
  font-family: 'Gilroy Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: 'Gilroy Regular'
}
